<!-- home-page.component.html -->

<section class="hero">
  <img src="assets/laptop-wave.png" alt="Bitmoji Sebastian" class="avatar" />
  <div class="hero-text">
    <p class="title-top">Bonjour, je suis Sebastian Bouquet</p>
    <h1 class="main-title">
      Je vous invite à
      apprendre à me connaître à travers<br />
      mon <span class="highlighted">portefolio</span>
    </h1>
    <p class="subtitle">Je suis développeur fullStack</p>
    <p class="alt-text">
      Actuellement je suis en alternance chez
      <a href="https://www.sqli.com" target="_blank" rel="noopener">SQLI</a>
    </p>
    <p class="description">
      Ayant quelques connaissances en maquettes et de back-end / front-end comme Java et Angular,
      je cherche à me démarquer par un travail acharné
    </p>
  </div>
</section>

<section class="experience-section">
  <h2 class="section-title">Expérience professionnel</h2>
  <div class="experience-cards">
    <app-experience-card
      title="Developpeur Stagiaire SQLI"
      description="Stage intensif en Angular et Java."
      icon="assets/SQLI.png">
    </app-experience-card>

    <app-experience-card
      title="Anciennement Stagiaire chez Foncia"
      description="Intégration HTML/CSS et conception de modules"
      icon="assets/Logo_Foncia.png">
    </app-experience-card>

    <app-experience-card
      title="Developpeur Alternant SQLI"
      description="Fullstack Angular/SpringBoot"
      icon="assets/SQLI.png">
    </app-experience-card>

    <app-experience-card
      title="Stagiaire chez Loft One"
      description="Stage sur l’utilisation de WordPress"
      icon="assets/logo_loftone.jpg">
    </app-experience-card>
  </div>
</section>

<section class="project-section">
  <h3>Projet en cours</h3>
  <h2>Exemple de projet</h2>
  <p class="project-text">
    Voici un petit site que j’ai réalisé en tant qu’indépendant pour des amis ce n’est qu’un one page
    basique mais cela reste une petite image de mon niveau en front-end
  </p>
  <img src="assets/pending.png" alt="Projet portfolio 1" class="project-img" />
</section>

<section class="project-section">
  <h2>Autre projet</h2>
  <h2>exemple de Projet</h2>
  <p class="project-text">
    Projet de jeu en python MMORPG, path of the loner, un petit jeu ROGUE like permettant ou un aventurier de faire une partie one shot qui cumule xp / gold etc.
  </p>
  <img src="assets/pending.png" alt="Projet portfolio 2" class="project-img" />
</section>


<section class="tech-section">
  <p class="tech-intro">
    Actuellement je serai à la recherche de nouvelle opportunités afin de diversifier mes connaissances, expériences.
    Soif de connaissance, je suis disposé à tenter de nouvelles technologies.
  </p>
  <app-tech-icons></app-tech-icons>
</section>



<section class="contact-section">
  <app-contact-form></app-contact-form>
</section>
