<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid justify-content-between">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="assets/logo_seb.png" alt="Logo" width="30" height="30" />
      </a>
  
      <!-- Links -->
      <ul class="navbar-nav flex-row gap-4">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">🚧À propos (work in progess)🚧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">🚧Lab (work in progess)🚧</a>
        </li>
      </ul>
    </div>
  </nav>
  
