.contact-section {
    padding: 4rem 2rem;
  
    input, textarea {
      background-color: #1d1532;
      border: 1px solid #a259ff;
      color: white;
      border-radius: 8px;
    }
  
    button {
      background-color: #a259ff;
      border: none;
      border-radius: 999px;
      padding: 0.5rem 2rem;
    }
  }
  