<div class="contact-section container text-center">
    <h2 class="section-title">Contact</h2>
    <p class="mb-4">
      Je cherche actuellement une entreprise ESN basée sur Toulouse, afin d’exercer en tant qu’alternant en Master 1 chef de projet.
    </p>
  
    <form>
      <input type="text" class="form-control mb-3" placeholder="Nom" />
      <input type="email" class="form-control mb-3" placeholder="Email" />
      <textarea rows="4" class="form-control mb-3" placeholder="Message"></textarea>
      <button class="btn btn-primary">Envoyer</button>
    </form>
  
    <p class="mt-4 small">©2025 Bouquet Sebastian</p>
  </div>
  