<div class="hero-section container text-center">
    <div class="intro-text">
      <p class="hello">Bonjour, je suis <span class="highlight">Sebastian Bouquet</span></p>
      <p class="subtitle">A Designer who</p>
      <h1 class="headline">Jugez mes connaissances<br>par un <span class="book">book</span></h1>
      <h2 class="role">Je suis developpeur <span class="highlight">fullStack</span></h2>
      <p class="description">
        Actuellement je suis en alternance chez <span class="highlight">SQLI</span><br>
        Ayant quelques connaissances en maquettages et de back-end / front-end<br>
        comme Java et Angular, je cherche à me démarquer par un travail acharné
      </p>
    </div>
    <div class="avatar-wrapper">
      <img src="assets/avatar.png" alt="Avatar" class="avatar" />
    </div>
  </div>
  